<div class="container mt-4">

    <div class="container mt-4">

        <button class="btn btn-success me-2" (click)="mostrarFormulario = true">
            Agregar Producto
        </button>

        <button class="btn btn-secondary" disabled>
            Agregar Categoría (próximamente)
        </button>

    </div>

    @if(mostrarFormulario){
    <app-form-add-product [producto]="nuevoProducto" [editando]="editando" (guardar)="crearProducto()"
        (cancelar)="cancelarEdicion()"></app-form-add-product>
    }



</div>

<app-products-table [productos]="productos" (editarProducto)="editarProducto($event)"
    (eliminarProducto)="eliminarProducto($event)"></app-products-table>